html {
    background-image: url("../img.png/skin1.jpg");
}

body {
    margin:0px;
    padding:0px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

img {
width:300px;
height:150px;
margin-top:50px;
margin-bottom: 0px;
}

canvas {
    
    box-shadow: black 20px 10px 50px;
    
    /* width: 768;
    height: 512; */


}

.btn1 {
    text-align:center;
    width:200px;
    background-color:lightgreen;
    height:50px;
    border:100px;
    font-weight: 600;
    text-indent:auto;
    letter-spacing: 5px;
    margin-right:10px ;
    margin-top:15px;
    }


    .btn1 {
        cursor: pointer;
    }
    
    .btn1:hover {
        color:white;
    }
    .btn2 {
        text-align:center;
        width:200px;
        background-color:blue;
        height:50px;
        border:100px;
        font-weight: 600;
        text-indent:auto;
        letter-spacing: 5px;
        margin-right:10px ;
        margin-top:15px;
        }
    
    
        .btn2 {
            cursor: pointer;
        }
        
        .btn2:hover {
            color:white;
        }


.status {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px ;
    font-style: italic;
    color: blue;
}

/* body {
    background-color: black;
    display: flex;
}

#canvas {
background-color: rgb(21, 141, 21);
margin-top: 250px;


}



.container {  
    border: 5px solid rgb(63, 111, 41);
    border-radius: 1em;
    padding: 10px;
    height: 140px;
    
    
    
}

.item {
    width: 300px;
    height: 120px;
    padding: 10px;
    background-color:white;
    border: 2px solid rgba(75, 111, 41, 0.5);
    padding-right: 7px;
    border-radius: 5px;
    text-align: center;
    background-color:white;
    
    

} */