body {
    margin:0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    color: green;
    line-height: 2;
    background-color: black;
    
}

.img {
    width: 250px;
    height:250px
    
}

.first {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration:no;
}

#showcase {
    background-color: rgb(0, 5, 7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;

    }

    .Cobra , .rattle {
        text-align:center;
        width:200px;
        background-color:rgb(28, 202, 57);
        height:50px;
        border:100px;
        font-weight: 600;
        text-indent:auto;
        letter-spacing: 5px;
        margin-right:10px ;
    }


    .Cobra, .rattle {
        cursor: pointer;
    }
    
    .rattle:hover {
        color: #f00e47;
    }

    .Cobra:hover {
        color: #F2EBD3;
    }